[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
flask = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
python-dotenv = "*"
flask-cors = "*"
flask-migrate = "*"
mysql-connector-python = "==8.0.29"
flask-marshmallow = "*"
flasgger = "*"

[dev-packages]

[requires]
python_version = "3.9"
